<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <!-- Title Field -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" 
                 placeholder="Enter title" 
                 type="text" 
                 class="form-control is-invalid" 
                 required />
          <div class="invalid-feedback">Title is required!</div>
        </div>
        
        <!-- Description Field -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" 
                    class="form-control is-invalid" 
                    required></textarea>
          <div class="invalid-feedback">Enter a valid description!</div>
        </div>
        
        <!-- Image Link Field -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]"  
                 type="file" 
                 class="form-control is-invalid" 
                 required />
          <div class="invalid-feedback">Enter a valid image link!</div>
        </div>
        
        <div class="row">
          <!-- Price Field -->
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" 
                   placeholder="Enter price" 
                   type="number" 
                   class="form-control is-invalid" 
                   required />
            <div class="invalid-feedback">Enter a price!</div>
          </div>
          
          <!-- Country Field -->
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" 
                   placeholder="Enter country" 
                   type="text" 
                   class="form-control is-invalid" 
                   required />
            <div class="invalid-feedback">Enter a country name!</div>
          </div>
        </div>
        
        <!-- Location Field -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" 
                 placeholder="Enter location" 
                 type="text" 
                 class="form-control is-invalid" 
                 required />
          <div class="invalid-feedback">Enter a location!</div>
        </div>
        
        <!-- Submit Button -->
        <button class="btn btn-dark" type="submit">Add</button>
      </form>
      <br><br>
    </div>
  </div>
</body>